---
import Layout from '../../layouts/Layout.astro';
import InstagramButton from '../../components/InstagramButton.astro';
---

<Layout language="nl" title="Dank je wel!" description="Aan de rand van Nationaal Park De Hoge Kempen, midden in de Belgische bossen en op fietsafstand van Maastricht, staat een stijlvol boshuisje waar je binnenkort kunt overnachten.">
  <div class="flex flex-col items-center justify-center flex-grow w-full">
    <section class="max-w-3xl text-center mb-12">
      <h1 class="mb-8 font-title text-6xl md:text-8xl">Boswald</h1>
      <p class="font-text text-base md:text-xl leading-snug">Bedankt voor je aanmelding! We houden je op de hoogte. Heb je vragen of opmerkingen? Mail naar <a href="mailto:mail@popupcity.net" class="italic">mail@popupcity.net</a>.</p>
    </section>
  </div>
  <InstagramButton />
</Layout>
