---
import Layout from '@layouts/Layout.astro';
import InstagramButton from '@components/InstagramButton.astro';
import { Picture } from 'astro:assets';
import Logo from '@assets/logo.png';
---

<Layout language="en" title="Thank you!" description="At the edge of Hoge Kempen National Park, nestled in the Belgian woods and within cycling distance of Maastricht, stands a stylish forest cabin where you can soon stay.">
  <div class="flex flex-col items-center justify-center flex-grow w-full">
    <section class="max-w-3xl text-center mb-12">
      <Picture src={Logo} class="w-2xs md:w-md mx-auto mb-8" title="Boswald" alt="Boswald" />
      <p class="font-text text-base md:text-xl leading-snug">You're unsubscribed. In case you have any questions or remarks, please send an email to <a href="mailto:mail@popupcity.net" class="italic">mail@popupcity.net</a>.</p>
    </section>
  </div>
  <InstagramButton />
</Layout>
