---
import Layout from '@layouts/Layout.astro';
import SubscribeForm from '@components/SubscribeForm.astro';
import InstagramButton from '@components/InstagramButton.astro';
import { Picture } from 'astro:assets';
import Logo from '@assets/logo.png';

// Language redirect
const preferredLocale = Astro.preferredLocale;
const currentLocale = Astro.currentLocale;
let targetLocale = '/en/';

if (preferredLocale === 'nl') {
  targetLocale = '/';
}

if (currentLocale !== targetLocale.replace(/\//g, '').replace(/^$/, 'nl')) {
  return Astro.redirect(targetLocale);
}
---

<Layout language="en" title="Welcome to Boswald" description="At the edge of Hoge Kempen National Park, nestled in the Belgian woods and within cycling distance of Maastricht, stands a stylish forest cabin where you can soon stay.">
  <div class="flex flex-col items-center justify-center flex-grow max-w-3xl">
    <section class="text-center mb-12">
      <Picture src={Logo} class="w-2xs md:w-md mx-auto mb-8" title="Boswald" alt="Boswald" />
      <p class="font-text text-lg md:text-xl leading-snug">At the edge of Hoge Kempen National Park, nestled in the Belgian woods and within cycling distance of Maastricht, <a href="https://popupcity.net/" target="_blank" class="italic">Pop-Up City</a> is building a stylish forest cabin where you can soon stay. Want to be the first to know when we open? Leave your email address and receive a 15% discount code at launch.</p>
    </section>
    <SubscribeForm />
  </div>
  <InstagramButton />
</Layout>