---
import Layout from '../../layouts/Layout.astro';
import InstagramButton from '../../components/InstagramButton.astro';
---

<Layout language="en" title="Thank you!" description="At the edge of Hoge Kempen National Park, nestled in the Belgian woods and within cycling distance of Maastricht, stands a stylish forest cabin where you can soon stay.">
  <div class="flex flex-col items-center justify-center flex-grow w-full">
    <section class="max-w-3xl text-center mb-12">
      <h1 class="mb-8 font-title text-6xl md:text-8xl">Boswald</h1>
      <p class="font-text text-base md:text-xl leading-snug">Thanks for signing up! We'll keep you updated. In case you have any questions or remarks, please send an email to <a href="mailto:mail@popupcity.net" class="italic">mail@popupcity.net</a>.</p>
    </section>
  </div>
  <InstagramButton />
</Layout>
