---
const { id, type, content } = Astro.props;
---

<button 
    {...(type ? { type } : {})}
    {...(id ? { id } : {})}
    class="bg-green text-white px-4 py-2 rounded-md shadow-md hover:bg-black transition-all focus:outline-none focus:ring-2 focus:ring-green cursor-pointer w-full font-text text-base md:text-xl italic">
    {content}
</button>