---
import "../styles/global.css";
const {title, language, description} = Astro.props;
---

<!doctype html>
<html lang={language} class="w-full h-full m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="w-full h-full m-0 bg-white">
		<main class="flex flex-col items-center justify-between w-full h-full p-4 min-h-screen">
			<slot />
		</main>
	</body>
</html>
